

* {
  font-family: 'Open Sans', sans-serif;
  width: 1100;
}
body {
  width: 1100px;
  /*font-family: Open Sans from Google Fonts;*/
}
header {
  background-image: url('./images/header_bg.jpg');
  height: 100%;
  min-height: 100px;
}

.container  {
  /*padding: 30px 50px 200px 30px;*/
  width: 80%;
  margin: 0 auto;
  color: white;
}
h2.container {
  padding-left: 400px;
}
#benefits {
    background-color: #f0efef;
    color: #121212;
    padding-left: 70px;
    /*font-family: Open Sans from Google Fonts;*/
}
ul {
  color: #121212;
  align-item: center;
  padding-left: 100px;
  padding-right: 350px;
  /*font-family: Open Sans from Google Fonts;*/

}
p {
  color: #121212;
}
h3 {
  color: #121212;
}
#testimonial {
  background-image: url('./images/testimonial_bg.jpg');
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}
aside {
  background-color: yellow;
  padding: 10px;
  font-size: 18px;
}
footer {
  background-color: black;
  color: yellow;
}
.copyright {
  color: white;
  padding-left: 920px;
}
.relaxr {
  font-size: 24px;
}


